.jumbotron{
  margin-top: -20px;
  h1{
    color: white;
    text-shadow: 0 0 1px #777;
    padding-top: 75px;
    padding-bottom: 75px;
  }
}

.options{
  margin-bottom: 5px;
}
.sub-group{
  margin-top: 5px;
  margin-bottom: 20px;
}

/* Image Classes */
.asanoha {
  background-color: #49274A;
  background-image: url(../assets/images/patterns/asanoha.png);
}